{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-restricted-globals": ["error", "event", "fdescribe"]
  }
}
