.getchat-widget {
  position: fixed;
  margin: 0px;
  padding: 0px;
  opacity: 1;
  box-sizing: border-box;
  user-select: none;
  background-position: 0px 0px;
  background-size: 100% 100%;
  right: 60px;
  bottom: 60px;
  width: 0px;
  height: 0px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10000000;

  &.getchat-widget--preview {
    transform: scale(0.9) !important;
  }

  &__wrapper {
    position: absolute;
    margin: -50px 0px 0px -50px;
    padding: 0px;
    opacity: 1;
    box-sizing: border-box;
    user-select: none;
    background-position: 0px 0px;
    background-size: 100% 100%;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 0;
  }

  &__content {
    display: none;
    position: absolute;
    margin: -58px 0px 0px -58px;
    padding: 0px;
    opacity: 0;
    box-sizing: border-box;
    user-select: none;
    background-position: 0px 0px;
    background-size: 100% 100%;
    left: 50%;
    top: 50%;
    width: 116px;
    height: 116px;
    background-color: rgb(255, 255, 255);
    border-radius: 116px;
    z-index: 1;
    box-shadow: 11px 8px 18px -8px rgba(0, 0, 0, 0.25), -11px 8px 18px -8px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease 0s, width 0.5s ease 0s, height 0.5s ease 0s, margin-left 0.5s ease 0s, margin-top 0.5s ease 0s, border-radius 0.5s ease 0s, opacity 0.5s ease 0s;
  }

  /*
  * Positioning
  */
  &.getchat-widget--left-bottom {
    left: 60px;
    .getchat-widget__content {
      margin: -490px 0 0 0;
    }
    .getchat-widget__launcher {
      margin: -50px 0 0 -6px;
    }
  }

  /**
  * Expanded
  */
  &--expanded {
    .getchat-widget__frame {
      height: 500px;
    }
    .getchat-widget__content {
      margin: -490px 0 0 -319px;
      display: block;
      width: 320px;
      height: 552px;
      border-radius: 10px 10px 0px 0px;
      opacity: 1;
    }
    .getchat-widget__launcher {
      display: none;
    }
  }

  &__frame {
    width: 320px;
    height: 0;
    border: none;
    transition: height 0.15s linear 0.15s;
  }
}
