.getchat-widget {
  position: fixed;
  margin: 0px;
  padding: 0px;
  opacity: 1;
  box-sizing: border-box;
  user-select: none;
  background-position: 0px 0px;
  background-size: 100% 100%;
  right: 60px;
  bottom: 60px;
  width: 0px;
  height: 0px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10000000;
  transition: right 0.5s ease 0.2s, bottom 0.5s ease 0.2s;

  &.getchat-widget--preview {
    transform: scale(0.9) !important;
  }

  &__wrapper {
    position: absolute;
    margin: -50px 0px 0px -50px;
    padding: 0px;
    opacity: 1;
    box-sizing: border-box;
    user-select: none;
    background-position: 0px 0px;
    background-size: 100% 100%;
    left: 0px;
    top: 0px;
    width: 56px;
    height: 56px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 0;
  }

  &__content {
    //display: none;
    position: absolute;
    margin: 0 0 0 0;
    padding: 0px;
    opacity: 0;
    box-sizing: border-box;
    user-select: none;
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 116px;
    z-index: 1;
    box-shadow: 11px 8px 18px -8px rgba(0, 0, 0, 0.25),
      -11px 8px 18px -8px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease 0.2s, width 0.5s ease 0.2s,
      height 0.5s ease 0.2s, margin 0.5s ease 0.2s, opacity 0.1s ease 0.1s,
      border-radius 0s;
    /* transition: all 0.5s ease 0.3s, border-radius 1ms, opacity 0.2s ease 0.1s,
      box-shadow 1ms; */
  }

  /*
  * Positioning
  */
  // Left-bottom
  &.getchat-widget--left-bottom {
    left: 60px;
    .getchat-widget__content {
      margin: -490px 0 0 0;
    }
    .getchat-widget__launcher {
      margin: -50px 0 0 -6px;
    }
  }

  // middle-center
  &.getchat-widget--middle-center {
    &.getchat-widget--expanded {
      right: 50%;
      bottom: 50%;
      transform: translate(-50%, -50%);
    }
    .getchat-widget__content {
      margin: 0 0 0 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .getchat-widget__launcher {
      margin: 0 0 0 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  /* Small devices (landscape phones, 768px and up) */
  @media (min-width: 768px) {
    &.getchat-widget--middle-center {
      .getchat-widget__content {
        width: 720px;
        height: 460px;
        overflow: hidden;
        border-radius: 20px;
      }
      .getchat-widget__frame {
        width: 100%;
        height: 100%;
      }
    }
  }
  /**
  * Expanded
  */
  &--expanded {
    .getchat-widget__frame {
      height: 500px;
    }
    .getchat-widget__content {
      margin: -490px 0 0 -319px;
      display: flex;
      flex-direction: column;
      width: 320px;
      height: 552px;
      border-radius: 10px 10px 0px 0px;
      opacity: 1;
    }
    .getchat-widget__launcher {
      display: none;
    }
  }

  &--loading {
    .getchat-widget__content {
      display: none !important;
    }
  }

  &:not(&--expanded) {
    .getchat-widget__content {
      width: 56px;
      height: 56px;
      //border-radius: 50%;
    }
  }

  &__frame {
    width: 320px;
    height: 0;
    border: none;
    transition: height 0.15s linear 0.15s;
  }
}
