.getchat-widget {
  &--has-msgs {
    .getchat-widget__launcher__disk-1 {
      animation: outer-pulse 2s infinite;
    }
    .getchat-widget__launcher__disk-2 {
      animation: inner-pulse 2s infinite;
    }
  }

  &__launcher {
    display: block;
    position: absolute;
    margin: -50px 0px 0px -50px;
    padding: 0px;
    opacity: 1;
    box-sizing: border-box;
    user-select: none;
    background-position: 0px 0px;
    background-size: 100% 100%;
    left: 50px;
    top: 50px;
    border-radius: 50%;
    min-width: 0;
    height: 56px;
    width: 56px;
    background-color: #da29ae;
    border-color: #da29ae;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.7);

    &__disk {
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 1000px;

      width: 100%;
      height: 100%;
      margin-left: -50%;
      margin-top: -50%;
      transform: scale(1);
      opacity: 1;
    }
    &__disk-1 {
      background-color: rgba(200, 65, 130, 0.15);
    }

    &__disk-2 {
      background-color: rgba(200, 65, 130, 0.3);
    }
  }

  &__launcher-content {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 56px;
    height: 56px;
    margin-left: -50%;
    margin-top: -50%;
    box-sizing: border-box;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}

@keyframes inner-pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(226, 43, 150, 0.5);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 22px transparent;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 transparent;
  }
}

@keyframes outer-pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(218, 41, 174, 0.25);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 44px transparent;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 transparent;
  }
}
