.getchat-widget {
  position: fixed;
  margin: 0px;
  padding: 0px;
  opacity: 1;
  box-sizing: border-box;
  user-select: none;
  background-position: 0px 0px;
  background-size: 100% 100%;
  right: 60px;
  bottom: 60px;
  width: 0px;
  height: 0px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10000000;

  &__wrapper {
    position: absolute;
    margin: -50px 0px 0px -50px;
    padding: 0px;
    opacity: 1;
    box-sizing: border-box;
    user-select: none;
    background-position: 0px 0px;
    background-size: 100% 100%;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 0;
  }

  &__content {
    display: none;
    position: absolute;
    margin: -58px 0px 0px -58px;
    padding: 0px;
    opacity: 0;
    box-sizing: border-box;
    user-select: none;
    background-position: 0px 0px;
    background-size: 100% 100%;
    left: 50%;
    top: 50%;
    width: 116px;
    height: 116px;
    background-color: rgb(255, 255, 255);
    border-radius: 116px;
    z-index: 1;
    transition: transform 0.5s ease 0s, width 0.5s ease 0s, height 0.5s ease 0s, margin-left 0.5s ease 0s, margin-top 0.5s ease 0s, border-radius 0.5s ease 0s, opacity 0.5s ease 0s;
  }
  &__header {
    background: #da29ad;
    padding: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: space-between;
  }
  /* &__bots {
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 58px;
      background: #fff;
      padding: 4px  0;
      border: 2px solid #da28ad;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
  
      &--active {
        visibility: visible;
        opacity: 1;
      }
  
      &-label {
        text-indent: 7px;
        font-size: 14px;
        margin-bottom: 5px;
      }
      > ul {
        list-style: none;
        padding-left: 0;
  
        > li {
          display: block;
          padding: 5px 5px 5px 10px;
          font-size: 12px;
          line-height: 1.4;
          color: #550;
          cursor: pointer;
          &:hover {
            background: rgba(234, 129, 207, 0.22);
          }
        }
      }
    } */

  

  &__btn {
    outline: none;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &--action-menu {
      > span {
        display: block;
        width: 24px;
        height: 3px;
        margin-bottom: 4px;
        position: relative;
        background: #fff;
        z-index: 1;
        transform-origin: 4px 0;
        border-radius: 2px;
      }
    }

    &--icon {
      position: relative;
      display: block;
      background: transparent;
      width: 24px;
      height: 24px;
      border: none;
      transform: scale(0.94) translate(0px, 2px);
      &:hover {
        transform: scale(1) translate(0px, 2px);
      }
    }
  }

  &__icon {
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }

    &--close {
      &:before,
      &:after {
        position: absolute;
        left: 12px;
        top: 0px;
        content: ' ';
        height: 24px;
        width: 2px;
        background-color: #fff;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
  &--expanded {
    .getchat-widget__frame {
      height: 600px;
    }
    .getchat-widget__content {
      margin: -540px 0 0 -333px;
      display: block;
      width: 320px;
      height: 600px;
      border-radius: 5px 5px 0px 0px;
      opacity: 1;
    }
    .getchat-widget__launcher {
      display: none;
    }
  }

  &__frame {
    width: 320px;
    height: 0;
    border: none;
    transition: height 0.15s linear 0.15s;
  }
}
